body{
    padding: 0px;
    margin: 0px;
}
#header{
    background-color: white;
    border-bottom: 2px solid gray;
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0px;
}
#header h2{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
#svkplogo{
    border-radius: 50%;
}
#merit{
    text-align: center;
}
#students-list{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    padding: 20px;
}
.students{
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
    color: white;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;

}
.student1{
    background-image: url('student1.jpg');
    background-size: 200px;
    background-position: 0px -17px;
}
.student2{
    background-image: url('student2.jpg');
    background-size: 236px;
    background-position: -16px -33px;
}
.student3{
    background-image: url('student2.jpg');
    background-size: 236px;
    background-position: -16px -33px;
}
.students img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
h4{
    margin: 0px;
}
